@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic);

/* reset */
li,
ul,
ol,
table,
tr,
td,
th,
p,
blockquote,
body {
    margin: 0;
    padding: 0;
    font-size: 100%;
}

body {
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 20px;
    color: #333;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    background-color: #f2f0e9;
    background-image: url("/assets/img/bg-gradient-sand.png"),url("/assets/img/bg-sand.png");
    background-repeat: repeat-x,repeat;
}

.form-login .form-actions .btn {
    width: 100%;
}

.form-login .form-actions {
    margin-top:0;
}

.form-login form+p a{
    text-decoration: none;
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    color: #333;
    border: 1px solid #ccc;
    background: #efefef;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 0.9em;
    cursor: pointer;
    border-radius: 2px;
    width: 100%;
    text-align: center;
    margin-left: -15px;
}

a.logo span, a.logo span:hover, a.logo span:active, a.logo span:focus{
    color:transparent !important;
}

.form-login form input[type="text"], .form-login form input[type="password"] {
    width: 100%;
}

.form-login .form-required {
    display: none;
}

ul.no-bullet li {
    list-style-type: none;
    margin-left: 0;
}

.pull-right {
    text-align: right;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#board-selector,
.chosen-select {
    min-height: 27px; /* Reserve some space to avoid re-layout due to chosen */
}
