/* titles */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans Light';
}

h1, h2, h3 {
    font-weight: normal;
    color: #333;
}

h2 {
    font-size: 1.3em;
    margin-bottom: 10px;
}

h3 {
    margin-top: 10px;
    font-size: 1.2em;
}

.sidebar ul li a {
    text-decoration: none;
}

.sidebar ul li a:hover, .sidebar ul li a:active, .sidebar ul li a:hover {
    text-decoration: underline;
}

.page-header li:first-child {
    border-left: 0;
}

.page-header {
    line-height: 2.4em;
}